.DS_Store
MANIFEST
__pycache__
.coverage
.tox/
*.egg-info
*.pot
*.py[co]

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# cimo +
.cache
.config
.local
.ms_cronjob-volume/**/*
!.ms_cronjob-volume/**/
!.ms_cronjob-volume/**/.gitkeep
.npm
.pki
dist
file/tmp/*
!file/tmp/.gitkeep
log/*
!log/.gitkeep
src/controller/*
!src/controller/.gitkeep
!src/controller/automate/
!src/controller/math/
src/model/*
!src/model/.gitkeep
!src/model/Main.ts
!src/model/Automate.ts
!src/model/Math.ts
src/tool/*
!src/tool/.gitkeep
!src/tool/Automate.ts
!src/tool/Math.ts
node_modules
package-lock.json
