.DS_Store
MANIFEST
__pycache__
.coverage
.tox/
*.egg-info
*.pot
*.py[co]

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# cimo +
.cache
.config
.local
.npm
.pki
certificate/**/*
!certificate/**/
!certificate/**/.gitkeep
dist
file/input/*
!file/input/.gitkeep
log/*
!log/.gitkeep
node_modules
public/file/*
!public/file/.gitkeep
public/asset/js/*
!public/asset/js/.gitkeep
public/asset/style/*
!public/asset/style/.gitkeep
public/index.html
src/tool/*
!src/tool/automate
!src/tool/browser
!src/tool/document
!src/tool/math
!src/tool/ocr
!src/tool/rag
!src/tool/.gitkeep
!src/tool/Automate.ts
!src/tool/Browser.ts
!src/tool/Document.ts
!src/tool/Math.ts
!src/tool/Ocr.ts
!src/tool/Rag.ts
package-lock.json
